```
# Build artifacts
build/
dist/

# Dependencies
node_modules/
Pods/

# Logs
*.log

# Environment
.env
.env.local
*.env.*

# Editor
.vscode/
.idea/
*.swp
*.swo
*.tmp

# OS
.DS_Store
Thumbs.db

# Swift specific
*.swiftmodule
*.swiftdoc
*.dSYM/
```